<ion-tabs>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="alerts">
        <ion-icon name="alert-circle"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="profile">
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-tabs>
